.component-body{
    padding: 20px;
}
.title-heading{
    font-size: 17px;
    margin: 0px;
    color: #757575;
}
   
.title-discription{
    font-size: 15px;
    margin-top: 5px;
    color: #757575;
}