.component-body{
    padding: 20px;
}
.component-titles-container{
    position: relative;
    top:0;bottom: 0;left: 0;right: 0;
}
.title-heading{
 font-size: 17px;
 margin: 0px;
 color: #757575;
}

.title-discription{
    font-size: 15px;
    margin-top: 5px;
    color: #757575;
}

.label-user-info{
    font-size:15px;
    color: #757575;
}
.horizontal-line{
    padding-top: 10px;
    border-top: 1px solid #000;
}
.button-container{
    text-align: right;
}