.title{
    font-size: 17px;
    color: #1759B2;
}
.success-message{
    font-size: 15px;
    color: #1759B2;
    margin-top:15px;
    
}
.user-information{
    text-align: center;
    margin-top:17px;
    
 }
 .items{
    font-size: 15px;
 }
 .values{
     font-size:15px;
 }
.button-ok{
    margin-top:50px;
}