.footer-container{
    padding: 20px;
    padding-top: 0px;
    background-color: transparent;
}
.horizontal-line{
    padding-top: 10px;
    border-top: 1px solid #1759B2;
  }
.footer{
    padding: 20px;
    background-color: #1759B2;
}
.footer-text-container{
    width:100%;
    text-align: center;
    position: relative;
}
.footer-text{
    font-size: 15px;
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    color: white;
}